<% obj = local_assigns[:model] || local_assigns[:resource] %>
<div id="error_explanation" class="error-messages" style="color: red;">
<% if obj && obj.errors.any? %>
  <div class="error-messages">
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
