<% ordered_attrs = [:name, :nickname, :email, :password, :password_confirmation] %>

<div id="error_explanation">
  <% if model.errors.any? %>
    <ul>
      <% ordered_attrs.each do |attr| %>
        <% model.errors.full_messages_for(attr).each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>